@{
	ViewData["Title"] = "Anasayfa - ";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class=" d-flex  justify-content-center " >
    <span>Anasayfa</span>
</div>

<div style="margin-top:100px">

	<h2>Kullanıcı Ziyaretleri</h2>

   <ul id="hareketListesi"></ul>

</div>