@model Product
@{
    ViewData["Title"] = "Ürün Güncelle - ";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!-- BEGIN THEME STYLES -->
<link href="~1/admİn_panel_template/theme/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
<link href="~/admİn_panel_template/theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
<link href="~/admİn_panel_template/theme/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
<link id="style_color" href="~/admİn_panel_template/theme/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
<link href="~/admİn_panel_template/theme/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico" />

<!-- BEGIN SAMPLE FORM PORTLET-->

<!-- BEGIN SAMPLE FORM PORTLET-->

<div class="col-md-12" style="margin-top:70px;border:1px grey solid;">
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption mb-4">
                    <i class="fa fa-gift"></i> Ürün Güncelleme Formu
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="" class="reload">
                    </a>
                    <a href="" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" action="/Admin/ProductEdit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-body">
                        @* Ürün Adı *@
                        <div class="form-group">
                            <label class="col-md-12 control-label mt-4" asp-for="ProductName"></label>
                            <div class="col-md-12 ">
                                <input asp-for="ProductName" class="form-control w-100"  required maxlength="100" />
                            </div>
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        @* Fiyat *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="UnitPrice"></label>
                            <div class="col-md-12">
                                <input asp-for="UnitPrice" class="form-control w-100" required  />
                                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                            </div>
                        </div>
                        @* Kategori *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label">Ana Kategori Seçiniz</label>
                            <div class="col-md-12 ">
                                @Html.DropDownList("CateoryID", (IEnumerable<SelectListItem>?)ViewData["categoryList"], "Seçiniz", new { @class = "col-md-12 control-label ",
                                        @required = "required"
                                    
                                })
                            </div>
                        </div>
                        @* Marka *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label ">Marka Seçiniz</label>
                            <div class="col-md-12 ">
                                @Html.DropDownList("SupplierID", (IEnumerable<SelectListItem>?)ViewData["suppliersList"], "Seçiniz", new { @class = "col-md-12 control-label ",
                                 @required = "required"
                                })
                            </div>
                        </div>
                        @* Durum *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label ">Durum Seçiniz</label>
                            <div class="col-md-12 ">
                                @Html.DropDownList("StatusID", (IEnumerable<SelectListItem>?)ViewData["statusesList"], "Seçiniz", new
                                    {
                                        @class = "col-md-12 control-label ",
                                        @required = "required"
                                    })
                            </div>
                        </div>
                        @* Stok *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="Stock"></label>
                            <div class="col-md-12">
                                <input asp-for="Stock" class="form-control w-100" placeholder="" required />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>
                        @* İndirim *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="Discount"></label>
                            <div class="col-md-12">
                                <input asp-for="Discount" class="form-control w-100" placeholder="" required maxlength="50" />
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                        </div>
                        @* Anahtar kelime *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="Keywords"></label>
                            <div class="col-md-12">
                                <input asp-for="Keywords" class="form-control w-100" placeholder="" required maxlength="150" />
                                <span asp-validation-for="Keywords" class="text-danger"></span>
                            </div>
                        </div>
                        @* Buna bakanalar *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="Related"></label>
                            <div class="col-md-12">
                                <input asp-for="Related" class="form-control w-100" placeholder="" maxlength="50" required />
                                <span asp-validation-for="Related" class="text-danger"></span>
                            </div>
                        </div>
                        @* KDV *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="Kdv"></label>
                            <div class="col-md-12 ">
                                <input asp-for="Kdv" class="form-control w-100" placeholder="" maxlength="50" required />
                                <span asp-validation-for="Kdv" class="text-danger"></span>
                            </div>
                        </div>
                        @* Notlar *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="Notes"></label>
                            <div class="col-md-12 ">
                                <input asp-for="Notes" class="form-control w-100" placeholder="" maxlength="50"  />
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                        @* Resim *@
                        <div class="form-group ">
                            <label class="col-md-12 control-label " asp-for="PhotoPath"></label>
                            <div class="col-md-12">
                                <input asp-for="PhotoPath" type="file" alt=""  class="form-control" />
                                <span asp-validation-for="PhotoPath" class="text-danger"></span>
                            </div>
                        </div>
                        @* Aktif pasif *@
                        <div class="form-group d-flex ">
                            <label style="margin-left:15px;display: flex; align-items: center;" asp-for="Active"></label>
                            <span asp-validation-for="Active" class="text-danger"></span>
                            <div style="margin-left:12px">
                                <input asp-for="Active" type="checkbox" >
                            </div>
                        </div>
                        <input type="hidden" asp-for="ProductID" />
                    </div>
                    <div class="mb-3">
               <input type="submit" value="Güncelle" class="btn w-100" style="background-color:#191C24;color:#FFFFFF" />
                    </div>

                    <div class="mb-3">
               <a asp-action="ProductIndex" asp-controller="Admin" class="btn w-100" style="background-color:#191C24;color:#FFFFFF"> Ürün Listesi</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- END SAMPLE FORM PORTLET-->
@section Style {

    <style>

        .form-control {
            width: 100%;
            box-sizing: border-box;
        }

            .form-control.input-lg {
                height: calc(1.5em + 1rem + 2px);
                padding: .5rem 1rem;
                font-size: 1.25rem;
                line-height: 1.5;
                border-radius: .3rem;
            }

            .form-control.input-sm {
                height: calc(1.5em + .5rem + 2px);
                padding: .25rem .5rem;
                font-size: .875rem;
                line-height: 1.5;
                border-radius: .2rem;
            }

    </style>
    }