
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}



<link href="~/css/AboutStyle.css" rel="stylesheet" />
<div style="margin-top:155px"></div>
<div class="container about-section">
   <!-- Hakkımızda Başlık Alanı -->
   <div class="row">
      <div class="col-lg-12">
         <h1 class="display-4 text-center about-title">Hakkımızda</h1>
         <p class="text-center about-subtitle">TrendCards – Teknolojiyle Geleceğe!</p>
      </div>
   </div>

   <!-- Misyon ve Vizyon -->
   <div class="row " style="display:flex;justify-content:space-around" >
      <div class="col-lg-5 about-box " >
         <h2 class="about-heading">Misyonumuz</h2>
         <p class="about-text">
            Müşterilerimize en son teknolojiye sahip, güvenilir ve uygun fiyatlı ürünler sunmak. Kullanıcı odaklı
            yaklaşımlarımızla, her adımda memnuniyetinizi ön planda tutuyor ve e-ticaret deneyiminizi daha sorunsuz hale
            getirmek için çalışıyoruz.
         </p>
      </div>
      <div class="col-lg-5 about-box" style="float:right">
         <h2 class="about-heading">Vizyonumuz</h2>
         <p class="about-text">
            Türkiye'nin teknoloji ve yazılım ürünleri alanında en güvenilir ve tercih edilen platformu olmak. Geleceğin
            teknolojilerine yatırım yaparak, dijital dünyada sınırları aşmak ve müşterilerimize daha iyi hizmet
            verebilmek için her gün kendimizi yeniliyoruz.
         </p>
      </div>
   </div>

   <hr />

   <!-- Neden Biz -->
   <div class="row">
      <div class="col-lg-12" >
         <h2 class="text-center about-heading">Neden Biz?</h2>
      </div>

      <div class="col-md-3 about-box" style="margin-right:10%">
         <h4 class="about-subheading">Geniş Ürün Yelpazesi</h4>
         <p class="about-text">
            Yazılım, donanım ve teknoloji dünyasına dair ihtiyaç duyduğunuz her şeyi tek bir çatı altında bulabilirsiniz.
         </p>
      </div>
      <div class="col-md-3 about-box" style="margin-right:10%">
         <h4 class="about-subheading">Müşteri Memnuniyeti</h4>
         <p class="about-text">
            Sizin için en iyi , en güvenli alışveriş deneyimini sağlamak adına 7/24 müşteri desteği sunuyoruz.
         </p>
      </div>
      <div class="col-md-3 about-box" >
         <h4 class="about-subheading">Güvenilir Alışveriş</h4>
         <p class="about-text">
            Tüm alışverişlerinizde güvenliği en üst düzeyde tutuyor ve verilerinizi koruma altına alıyoruz.
         </p>
      </div>
   </div>

   <hr />

   <!-- İnovasyon ve Güven -->
   <div class="row">
      <div class="col-lg-12">
         <h2 class="text-center about-heading">İnovasyon ve Güven</h2>
         <p class="about-text text-center">
            TrendCards, e-ticaret dünyasında yenilikçi ve güvenilir bir marka olarak büyüyor. Müşterilerimizin her zaman kaliteli hizmet
            almasını sağlamak için teknoloji ve dijitalleşme sürecinde en güncel çözümleri sunuyoruz.
         </p>
      </div>
   </div>

   <hr />

   <!-- Bize Katılın -->
   <div class="row">
      <div class="col-lg-12">
         <h2 class="text-center about-heading">Bize Katılın!</h2>
         <p class="text-center about-text">
            TrendCards ailesi olarak, yenilikleri ve fırsatları sizlerle paylaşmaya devam ediyoruz. Bizimle birlikte teknoloji dünyasına
            adım atın, geleceğin teknolojilerini keşfedin!
         </p>
      </div>
   </div>
</div>


